<div class="login-background-wrapper">
	<%= image_tag("Pool-Water.jpg",class: "login-background")  %>
	<div class="background-screen"></div>
</div>
<header class="wrapper-max">
	<h1 class="">Pool Service Pro</h1>
</header>
<section class="session-form wrapper-max">
	<article class=" form-wrapper">
  		<h2 class="">Sign In</h2>
  		<%= render :partial => 'sessions/sessions_form', :locals => { :session => @session }  %>




	</article>
</section>
