<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <p>
      To reset your password, just follow this link: <%= @url %>.<br>
      Your temperary password is: <%= @reset.temp_pass %>
      If you have any questions about the app react out to <%= @user.business.owners_first_name %> at <%= @user.business.phone %>

    </p>
  </body>
</html>