<section class="visits card-list">
    <div class="list">
      <% if  !history.empty? %>
            <%  history.each do |visit| %>
            <%= render :partial => 'visits/visit_card_individual', :locals => { :visit => visit }  %>
            <% end %>
          <% else %>
            <article class="card">
          <h2>No Visits on Record</h2>
        </article>
          <% end %>
    </div>
  </section>