<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @business.business_name %> weekly Report</h1>
    <h2>Unfinihsed Pools:</h2>
    <ul>
    <% @unfinished_pools.each do |pool| %>
      <li><%= pool.user.full_name %>: <%= pool.full_name%> at <%= pool.full_address%></li>
      <% end %>
    </ul>
  </body>
</html>