<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Visit Completed</h1>
    <p>
      <%= @visit.user.first_name %> completed this weeks visit at <%= @visit.created_at %>.<br>
    </p>
    <p>
      This is what we preformed...
    </p>
    <p>Have a great day!</p>
  </body>
</html>