<main>
	<header>
		<h1 class="forgot-password-header">Request Password Change</h1>
	</header>
	<article class="forgot-form">
		<%= form_for @user, :url => url_for(:controller => 'users', :action => 'request_password') do |f| %>
			<%= f.text_field :email, :placeholder => "Enter Your Email Address", :autocomplete => :off %>
			<div class="forgot-pass-submit">
				<%= submit_tag 'Reset Password ' %>
				<%= link_to 'Cancel', :controller => "sessions", :action => "index" %>
			</div>
		<% end %>
	</article>
</main>