<main>
	<header>
		<h1>Request Password Change</h1>
	</header>
	<article>
		<%= form_for @user, :url => url_for(:controller => 'users', :action => 'request_password') do |f| %>
		<%= f.label :email, "Enter your Email Address" %>
		<%= f.text_field :email, :autocomplete => :off %>
		<%= submit_tag 'Find' %>
		<% end %>
	</article>
</main>