<main>
  <section class="landing-options">
    <div>
      <%= link_to "Sign in", {:controller => "sessions", :action=> "new"}, :method => :get %>
    </div>
    <div>
      <%= link_to "Register Business", {:controller => "businesses", :action=> "new"}, :method => :get %>
    </div>  
  </section>
</main>