<main>
  <div class="message-container">
  	<h1>Your Request Has Been Submitted</h1>
  	<p>you should recieve an email with directins to reset your password.</p>
  	<p>if you do not receive the email within 24 hours please try again.</p>
  </div>
</main>