<main>
	<header>
		<h1 class="reset-password-header">Reset Password</h1>
	</header>
	<article class="reset-password-form">
		<%= form_for @user, :url => url_for(:controller => 'users', :action => 'update_password', :id => @user.id)  do |f| %>
		<%= f.text_field :password, :placeholder => "New Password", :autocomplete => :off %>

		<%= f.text_field :password, :placeholder => "Confirm Password", :autocomplete => :off %>

		<%= submit_tag 'Reset Password' %>
		<% end %>
	</article>
</main>