<h2>Directions Here</h2>
<div class="direction-map" style="display:block">
    <div id="directions"></div>
    <div id="right-panel"></div>
    <button id="complete-trip">Complete Trip</button>
</div>
<script>
	getCustomerDirections({})
</script>