<main>
  <article class="message-container">
    <h1>Your Request Has Been Submitted</h1>
    <p>You should recieve an email with directins to reset your password if your email is in out records.</p>
    <p>If you do not receive the email within 24 hours please try again.</p>
  </article>
  <%= link_to "Sign In",{ :controller => "sessions", :action => "new"}, :class => "request_pass_link" %>
</main>