<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @customer.first_name %>!</h1>
    <p>
      Thank you for the opportunity to work with you and your pool. You pool service provider, <%= @customer.user.first_name %>, will service your pool on a weekly basis.<br>
    </p>
    <p>
      If you have any questions about the serive plan react out to <%= @customer.user.business.owners_first_name %> at <%= @customer.user.business.phone %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>