/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*page elements*/
html{
  font-size:10px;
  overflow:hidden;
  height:100%;
}
 body{
  font:30px;
  height:100%;
  overflow:auto;
  padding: 1rem 0;
  margin:0;
  background-color:grey;
  /*background: linear-gradient(to right, #bfbfbf,#b3b3b3,#bfbfbf);*/
  /*background: radial-gradient(#bfbfbf,#b3b3b3,#bfbfbf,#b3b3b3,#bfbfbf,#b3b3b3,#bfbfbf);*/
 /* background: linear-gradient(to right, #bfbfbf,#b3b3b3,#bfbfbf,#b3b3b3,#bfbfbf,#b3b3b3,#bfbfbf);*/
 /* background:linear-gradient(#d9d9d9, #bfbfbf, #d9d9d9);*/
  /*background-color:lightgrey;*/
  font-family: 'Kanit', sans-serif;
 }
 main{
  margin-top:2rem;
 }
 input{
  border:none;
 }
/* a {
    color: black;
    text-decoration: none;
}

a:hover
{
     color:black;
     text-decoration:none;
     cursor:pointer;
}*/
 /*Navigation style*/
.nav-container{
  background-color: grey;
  display:flex;
  position:fixed;
  top:0;
  z-index: 3;
  width:100%;

}
#nav-main{
  display:flex;
  padding: 0.5rem 0;
  flex:4;
  margin:0 2%;
}
#nav-user{
  display: inline-block;
  flex:1;
  float:right;
  padding:0.5rem 0 0.5rem 2%;
  list-style:none;
  margin:0 2%;
}
nav ul li{
  display: inline-block;
  margin:0 1%;
  float:right;
 /* margin-right:2vw;*/
}
nav ul li a{
  text-decoration:none;
  font-size: 1.5em;
  color:black;
}

/*Table Style*/
.table{
  width:95vw;
  padding:2%;
  border-collapse: collapse;
  margin:2.5vw;
  font-size:2rem;
}
th{
  /*border-bottom: 1px solid black;*/
  padding:0;
  background-color:grey;
    color: white;
}
tr:nth-child(even) {
  background-color:#b3d9ff;
}
tr:nth-child(odd) {
  background-color:#cce6ff;
}
.none-small{
  display:none;
}
/*buttons*/
.edit-button{
border: 1px solid black;
border-radius:7px;
padding:0.5%;
background-color: grey;
font-size: 2rem;
margin-left:2.5vw;
}
/*Form*/
form{
  /*width:90vw;
  margin:2.5vh 2.5vw;
  font-size:5rem;
  padding:2.5vh 2.5vw;*/
}
#user_admin{
width:100%;
}
.submit{
 /* font-size:4rem;
  text-align: center;
  border: 1px solid black;
  border-radius:10px;
  background-color: grey;
  margin:1vh 0;*/
}
.form-header{
  font-size: 5rem;
  text-align:center;
  margin:2vh 2vw;
}
input[type=text], input[type=password], input[type=submit]{
  /*font-size:1em;
  text-align: center;
  width:100%;
  margin:1vh 0;*/
}
input[type=file]{
  /*font-size:3rem;
  background-color: grey;
  width:100%;
  margin:1vh 0;*/
}

.my_style_class{
  font-size:3rem;
  background-color:grey;
  border-radius:10px;
  padding:1.5%;
}
fieldset {
   border:0 none;
}
.header-background{
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: -2;
}
.header-filter-container{
  background-color: #70B0D8;
  width: 100vw;
  position: absolute;
  background-color: #70B0D8;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.header-full-filter-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  background-color: #70B0D8
}
.header-full-background{
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: absolute;
}
.center-column{
    background: linear-gradient(to right, #bfbfbf,#cccccc,#bfbfbf);
    position: fixed;
    width: 768px;
    height: 100vh;
    opacity: 0.5;
    z-index: -3;
    left: 0;
    right: 0;
    margin: auto;
}
.trash-button{
  position: absolute;
  background: darkred;
  top: 16%;
  right: 3%;
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  border-radius: 3px;
  padding: 0 0.5rem;
}
.flash{
  position:absolute;
  max-width:440px;
  width: 80vw;
  text-align: center;
  font-size:2rem;
  margin: -8rem auto;
  color:darkred;
}
.repairs-image-flash{
  margin: -5.5rem 12%;
  max-width:initial;
}
/***********************/
/*Media Queries*/
/***********************/
@media screen and (orientation: landscape) {
  /*.business-customers-list{
    height:60vh !important;
  }*/
  /*.business-repair-list{
    height: 26vh !important;
  }*/
  /*.business-employee-list{
    height: 27vh !important;
  }*/
}
/*iphone landscape*/
@media screen and (min-width: 660px) {
   .repair-textarea textarea{
    height: 100px;
  }
}
@media screen and (orientation: landscape)and (max-width: 736px) {
  .repair-tbody{
    /*max-height: 60vh; iphone view*/
  }
  .new-repair-header{
    margin: 5% 2% 0;
  }
  /*.repair-new-bottom{
    flex-direction: row;
  }*/
  .new-repair-submit{
    margin:0;
  }
  /*.new-repair-submit input{
    margin: 3.75rem .25rem 2rem 0.5rem;
  }*/
  .new-repair-img input{
    margin: 0;
    padding: 3px 2px;
  }
  .new-repair-img{
    margin:0;
  }
  .repair-title input{
    padding:0 1%;
    width:99%;
  }
  .new-repair-header{
    margin: 0 2% 0;
  }
}
/*@media screen and (orientation: portrait)and (min-width: 880px) {
  #map{
    height: 83vh;
  }
}*/
@media screen and (orientation: landscape)and (min-width: 1024px) {
  .business-customers-list{
    height: 65vh !important;
  }
  .business-repair-list{
    height:29.25vh !important;
  }
  .business-employee-section{
    margin-top: 0 !important;
  }
  .business-employee-list {
    height: 28.5vh !important;
    /*height: 29.25vh !important;*/
  }
  .business-right-container,
  .biz-customer-list{
    height: 74vh;
  }
  .new-customer-pool input[type="checkbox"]{
    vertical-align: 0;
  }
}
@media screen and (orientation: landscape)and (max-width: 1024px) {
  .business-customers-list{
    height: 70vh !important;
  }
  .business-employee-list {
    height: 30vh !important;
  }
}
@media screen and (min-width: 737px) {
  .new-repair-img input{
    width:100%;
    padding: 3px 2px;
  }
}
@media screen and (min-height: 737px) {
  .repair-tbody {
    max-height: 78vh !important;
  }
}
/*ipad landscape*/
@media screen and (orientation: landscape) and (min-width: 737px) {
  .repair-tbody{
    max-height: 72vh;
  }
  /*.repair-new-bottom{
    flex-direction:row;
  }*/
  .new-repair-submit{
    margin:0;
  }
  /*.new-repair-submit input{
    margin: 7.25rem 0 3rem;
  }*/
  .new-repair-img input{
    padding: 2.5px 2px;
  }
}
@media screen and (min-width: 679px) {
  .repair-show-info{
    margin:auto;
  }
 }
 @media screen and (orientation: landscape) and (min-width: 600px) and (max-width: 1024px){
  .business-employee-list{
    height: 32vh !important;
  }
  .business-repair-list{
    height: 32vh !important;
  }
  .business-right-container{
    height:80vh;
  }
 }
 @media screen and (max-width: 600px) {
    .business-right-container{
      display:none;
    }
    .business-lists-container{
      padding-top:2vh;
    }
    .business-repairs-section{
      margin-top: 0;
    }
    .business-header{
      margin:0 !important;
    }
    .business-customers-list{
      height:72vh;
    }
    .business-repair-list{
      height:72vh;
    }
    .business-sub-header{
      display:none;
    }
    .biz-options{
      margin: 1.5vh 2% 0 0 !important;
    }
    .business-employee-list,
    .business-repair-list,
    .business-customers-list{
      width: 340px !important;
      height:67vh;
    }
    .repair-description-container{
      padding:0 2%;
    }
 }
/*@media screen and (min-width: 1150px) {
  .history-visit-thead th, 
  .history-visit-tbody td {
    width: 20rem !important;
  }
}*/
@media screen and (min-height: 680px) and (orientation: portrait) {
  .repair-tbody,
  .user-show-tbody{
    max-height: 81vh;
  }
  #map{
    height: 84vh;
  }
} 
@media screen and (max-height: 450px) and (orientation: landscape) {
  .repair-tbody,
  .user-show-tbody{
    max-height: 61vh!important;
  }
  #map{
    height: 67vh !important;
  }
}
@media screen and (max-height: 720px) and (orientation: landscape) {
  .repair-tbody,
  .user-show-tbody{
    max-height: 68vh;
  }
  #map{
    height: 73vh;
}
}@media screen and (max-width: 812px) and (orientation: landscape) {
  .main-session-container{
    margin:0;
  }
}
/*@media screen and (max-height: 500px) and (orientation: landscape) {
  .main-session-container{
    margin:10vh 0 !important;
  }
}*/
@media screen and (max-height: 800px) and (orientation: landscape) {
  .repair-tbody,
  .user-show-tbody{
    max-height: 75vh;
  }
  #map{
    height: 78vh;
  }
}
 @media screen and (min-height: 800px) and (orientation: portrait) {
  .repair-tbody{
    max-height: 83vh !important;
  }
  #map{
    height: 86vh;
  }
 }
@media screen and (min-width: 600px) {
  .repair-tbody{
    font-size: 1.75rem;
  }
  .business-button-section{
    display:none;
  }
  .biz-header-left{
    padding: 0.5rem 0 3rem 2%;
  }
  .business-lists-container{
    flex-direction:row;
    max-width:1100px;
    margin:auto;
    padding-top: 2rem;
  }
  .biz-customer-list{
    margin:0;
    padding: 0 2.5vw 0 5vw;
    /*max-height:85vh;*/
    max-width: 500px;
  }
  .business-repairs-section{
    margin:0;
   /* max-height:42vh;*/
  }
  .business-repair-list,
  .business-employee-list{
    height: 36.6vh;
  }
  .business-customers-list{
    height:78vh;
  }
  .business-employee-section{
    margin-top:1vh;
  }
  /*.biz-new-customer{
    margin: 0 10% !important;
  }*/
  .business-right-container{
    padding: 0 5vw 0 2.5vw;
    max-width: 500px;
    margin: 0;
  }
  .business-header{
    margin:0;
  }
  .business-sub-header{
    font-size:2rem;
    line-height:2rem;
  }
  .biz-options{
    margin: 1vh 2% 0 0;
  }
  .biz-header-section form input{
    font-size:1.5rem !important;
  }
  .biz-header-section a{
    font-size:1.5rem !important;
  }
  .visit-show-header{
    font-size:3rem;
  }
  .visit-show-col-left p,
  .visit-show-col-right p{
    font-size: 2.5rem;
  }
  .visit-show-links a{
    font-size:2rem;
    padding: 0 1rem;
  }
  .show-subheader{
    font-size:3rem;
  }
  nav ul li a{
    font-size: 2rem;
  }
  #nav-main,
  #nav-user{
    padding:0;
  }
  .repair-img-zoom-container{
    max-width: 49%; 
    display: inline-block; 
  }
  .customer-show-info{
    font-size:2rem;
    line-height:2rem;
  }
  .add-note-header{
    font-size:3rem;
  }
  .customer-display-notes li{
    line-height: 2rem;
    font-size: 2rem;
  }
  .customer-display-notes a{
    vertical-align: 4px;
  }
  .history-header{
    font-size:3rem;
  }
  
  .history-visit-table, .history-repair-table{
    font-size:2rem;
  }

  .history-visit-thead th, 
  .history-visit-tbody td{
    width: 20rem;
  }
  .history-views a{
    font-size:1.5rem;
  }
  /*#no-notes{
    width:275px;
  }*/
  .repair-show-info h3{
    font-size:2.5rem;
  }
  .repair-show-info p{
    font-size:2.25rem;
    line-height: 2rem;
  }
  .repair-info-header-section,
  .repair-description,
  .repair-sub-header{
    font-size:3rem;
  }
  .repair-show-header-section form input,
  .repair-show-header-section a{
    font-size: 1.5rem;
  } 
  .new-note-input textarea{
    height: 2.8rem;
    line-height:2.6rem;
    padding:0 1%;
    font-size:2rem;
  }
  .note-submit{
    margin-top: 3px;
    font-size: 2rem;
    line-height:2.6rem;
    padding: 0 10%;
    /*padding: 2.5px 11%;*/
  }
  .note-header{
    font-size:2.5rem;
  }
  .user-show-header-user{
    margin: 5px 2%;
  }
  .sesion-type-options input{
    margin-top: 1rem !important;
    height: 1.35rem;
    width: 2.25rem !important;
  }
  .new-user-submit{
    width:98%;
  }
  .edit-user-submit{
    width:99%;
  }
  .visit-show-date{
    font-size: 2.25rem;
    line-height: 1.75rem;
  }
  .business-right-container,
  .biz-customer-list,
  .business-employee-section,
  .business-repairs-section{
    display:initial !important;
  }
  .user-display-info{
    padding:0;
  }
  /*.customer-display-notes{
    padding:1% 0;
  }*/

}
@media screen and (max-width: 800px){
  .small-hide{
      display:none;
    }
}
@media screen and (max-width: 1000px){
  .medium-hide{
      display:none;
    }
}
@media screen and (max-width: 1200px){
  .large-hide{
      display:none;
    }
}
@media screen and (max-height: 420px) and (orientation: landscape){
  .business-lists-container{
    padding-top:0;
  }
  .business-customers-list{
    height:56vh !important;
  }
  .business-employees-sub-header,
  .business-customer-sub-header{
    font-size: 2.5rem;
  }
  .business-customers-list a, 
  .business-employee-section a, 
  .business-repairs-section a{
    font-size: 2rem;
  }
  .business-customers-list li, 
  .business-employee-section li, 
  .business-repairs-section li{
    line-height: 1rem;
  }
  .business-repair-list,
  .business-employee-list{
    height:23vh !important;
  }
  .biz-customer-list,
  .business-right-container{
    height:61vh;
  }
  .business-customers-list li, 
  .business-employee-section li, 
  .business-repairs-section li{
        padding: 0.5rem 0;
  }
}
@media screen and (max-height: 380px) and (orientation: landscape){
  .business-customers-list{
    height: 52vh !important;
  }
  .biz-customer-list, 
  .business-right-container{
    height: 57vh;
  }
  .business-repair-list,
  .business-employee-list{
    height: 20.5vh !important;
  }
  
}
@media screen and (min-width: 560px) {
  .new-session-form,
  .new_user,
  .edit_user,
  .edit_repair,
  .new_repair{
    margin: 4vh auto;
  }
  /*#nav-main{
    display:flex;
    flex:6;
  }*/
  .new-business-form{
    margin: 5vh auto;
  }
  .repair-tbody{
    font-size:2rem !important;
  }
  .open-switch button{
    font-size:1.5rem !important;
  }
  .repair-thead{
    font-size:2rem !important;
  }
  .repair-thead th,
  .repair-tbody td{
    max-width:25vw;
  }
  .repair-thead th,
  .repair-tbody td{
    width: 25vw;
  }
  .repair-small-hide{
    display:block;
  }
}
@media screen and (min-height: 700px) {
  .repair-textarea textarea{
    height:40vh;
  }
}
@media screen and (min-width: 520px) {
  .repair-img-form form{
    flex-direction:row;
  }
  /*.show-subheader{
    font-size:3rem;
  }*/
  .repair-show-header-section{
        padding:0.5rem 2%;
  }
  .repair-img-submit{
    margin: 0.65rem 0.5rem 3rem;
  }
  .new-visit-chemistry input{
    font-size: 1.75rem;
    width: 6rem;
  }
  .new-visit-chemistry label{
    font-size:2.5rem;
  }
  .complete-visit-chem-inputs{
    width: 19rem;
  }
  .new-visit-duties label{
    font-size: 2.5rem;
  }
  .complete-visit-duties-inputs{
    width: 19rem;
  }
  /*.visit-show-header{
    font-size:3rem;
  }
  .visit-show-col-left p,
  .visit-show-col-right p{
    font-size: 2.5rem;
  }
  .visit-show-links a{
    font-size:2rem;
    padding: 0.5rem 2rem;
  }*/
}
@media screen and (max-width: 530px) {
  .large-days{
    display:none !important;
  }
  .user-show-thead th,
  .user-show-tbody td{
    width:33vw;
  }
  .user-show-tbody a
  .small-days{
    display:initial !important;
  }
  .user-large-days{
    display:none;
  }
  .user-show-tbody tr{
    display:block;
  }
}
@media screen and (min-width: 530px) {
  .user-large-days{
    display:block;
  }
  .large-days{
    display:initial !important;
  }
  .small-days{
    display:none !important;
  }
  .switch,
  .customer-links a{
    font-size:1.5rem;
  }
  .user-show-edit-button,
  .users-new-customer{
    font-size:1.5rem;
  }
  .customer-show-label{
    font-size:2.5rem;
    line-height:2.5rem;
  }
  .user-show-header-user,{
    font-size:3rem;
  }
  .customer-show-address{
    font-size:2.25rem;
    line-height:0.5rem;
  }
}
@media screen and (min-width: 465px) {
  .repair-show-grid{
    flex-direction:row;
  }
  .repair-show-info-padding {
    padding: 0px 0% !important;
  }
  .sesion-type-options{
    font-size:2rem;
  }
  .sesion-type-title{
    font-size:2rem;
  }
 }

@media screen and (min-width: 375px) {
  .repair-tbody{
    font-size:1.35rem;
  }
}


