// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-header{
	font-size: 50px;
	margin:0 2%;
	line-height: 55px;
}
.business-sub-header{
	margin:3% 2%;
	font-size:35px;
	width: 100%;
	line-height: 40px;
}
.business-lists-container{
	display:flex;
	justify-content:space-around;
	height: 75vh;
}
.business-info{
	display:flex;
	margin: 0 2%;
	justify-content:space-between;
}
.business-employees-sub-header,
.business-customer-sub-header{
	font-size:45px;
	margin: 0;
}
.business-customers-list{
	max-height:900px;
	overflow:scroll;
}
.business-customers-list a,
.business-employee-section a,
.business-repairs-section a{
	font-size:25px;
	color:black;
}
.business-right-container{
	height: 100%;
	display:flex;
	flex-direction: column;
}
.business-employee-section,
.business-repairs-section{
	flex:1;
}
.business-employee-list{
	max-height:375px;
	overflow:scroll;
}
.business-repair-list{
	max-height:450px;
	overflow:scroll;
}
