// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-header{
	font-size: 50px;
	margin:0 2%;
	line-height: 55px;
}
.business-sub-header{
	margin:3% 2%;
	font-size:35px;
	width: 100%;
	line-height: 40px;
}
.business-lists-container{
	display:flex;
	justify-content:space-around;
	height: 75vh;
}
.business-info{
	display:flex;
	margin: 0 2%;
	justify-content:space-between;
}
.business-employees-sub-header,
.business-customer-sub-header{
	font-size:45px;
	margin: 0;
}
.business-customers-list{
	max-height:900px;
	overflow:scroll;
}
.business-customers-list a,
.business-employee-section a,
.business-repairs-section a{
	font-size:25px;
	color:black;
}
.business-right-container{
	height: 100%;
	display:flex;
	flex-direction: column;
}
.business-employee-section,
.business-repairs-section{
	flex:1;
}
.business-employee-list{
	max-height:375px;
	overflow:scroll;
}
.business-repair-list{
	max-height:450px;
	overflow:scroll;
}
/**********************/
/*business new*/
/**********************/
.new_business{
	width: 91%;
}
.new_business input{
	width: 100%;
  padding: 2% 4%;
  font-size: 35px;
  border-radius: 5px;
  margin: 10px 0px;
}
.new-business-header{
	font-size: 60px;
  margin: 9% 2%;
}
.new-business-form{
	margin: 12vh 17vw;
}
.new-business-options{
	width:109%;
	display:flex;
}
.new-business-options a{
	background-color: grey;
    font-size: 35px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    text-decoration:none;
    color:darkred;
    margin: 2% 0 2% 2%;
    padding: 2%;
    font-family: 'Kanit', sans-serif;
}
.new-business-options input[type="submit"]{
	background-color:grey;
	font-size: 35px;
	font-family: 'Kanit', sans-serif;
	flex: 2;
}


