// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************/
/*New Customer*/
/***************************/

.new-customer-info input,
.new-customer-pool input{
  height:50px;
  font-size:30px;
}
.new-customer-pool,
.new-customer-info{
  margin: 3% 2%;
  padding: 3% 2%;
}
.new-customer-name,
.new-customer-address,
.new-customer-contact{
  display:flex;
  width:100%;
}
.new-customer-name input,
.new-customer-address input,
.new-customer-contact input{
  flex:1;
  margin: 0.5%;
  width: 100%;
}
.new-customer-pool label{
  font-size:35px;
}
.new-customer-pool legend,
.new-customer-info legend{
  font-size:40px;
}
.equipment-type,
.scheduling{
  display:flex;
  width:100%;
}
.equipment-type input,
.scheduling input{
  flex:1;
  width:100%;
  margin:0.5%;
}
/*.scheduling input{
  width:32.25%;
}*/
.customer-checkbox input{
  width: 40px;
}
.customer-new-select{
  font-size: 2rem;
  background-color: grey;
  border-radius: 10px;
  /*padding: 1.5%;*/
}
.new-customer-pool input[type="checkbox"]{
  height:28px !important;
}
.scheduling div{
  flex:1;
  /*width: 200px;*/
  /*margin: 0.5%;*/
}
.scheduling-days{
  display:flex;
  flex-direction:column;
}
.misc-scheduling{
  flex:2 !important;
}
.misc-container{
  flex:2 !important;
  width:100% !important;
}
.misc-scheduling select{
  background-color:grey;
  font-size: 25px;
}
.scheduling-days label{
  font-size:25px;
  display:flex;
}
.day-input{
  flex:1;
  width:200px;
}
.days-header{
  display: block;
  margin: 10px 0 0 0;
  font-size: 30px;
}
.day-input label,
.day-input input{
  display:inline-block;
}
.day-input input{
  width:initial !important;
}
.day-input input[type="checkbox"]{
  width:28px !important;
  float:right;
}
.customer-checkbox{
  flex: 0.5;
}
.customer-new-submit{
  font-size: 35px;
  height: 70px;
  margin: 2% 0 0 0;
  flex:2;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /*padding: 15px 30px;*/
  background-color: grey;
}
.customer-submit{
  text-align: center;
  display:flex;
  width: 80vw;
  margin: 2% 10%;
}
.customer-submit a{
  background-color: grey;
  font-size: 35px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: darkred;
  margin: 2% 0 2% 2%;
  padding:1% 2%;
  font-family: 'Kanit', sans-serif;
  /*font-size: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 30px;
  background-color: grey;
  text-decoration: none;
  color: darkred;*/
}
.new-customer-header{
  font-size:50px;
  margin:0;
  padding-left: 2%;
}
.day{
  flex:1.5 !important;
}
select option{
  text-align:center;
}

.header{
  background-image: url('/assets/water-crop.jpg')
}
.header-overlay{
    background-color: black;
    height: 100px;
    width: 100%;
    opacity: 0.2;
}
.header-text{
      z-index: 2;
    position: absolute;
    top: 100px;
    color: white;
}

/***************************/
/*Customer Show*/
/***************************/
.show-header{
margin-left:2.5vw;
}
.customer-show-section{
  display:flex;
  flex-direction:column;
  /*width:95vw;*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 2%;
  padding:0.8vh 2.5vw;
  font-size:2rem;
  background-color: lightgrey;
}
.show-section p{
  margin:1vh 0 0 0;
  padding:0.5vh;
}
.customer-links{
  width: 90%;
  display:inline-block;
  padding:1% 2%;
}
.customer-links a{
  display:inline-block;
  font-size: 25px;
  color:black;
  margin: 0 10px 0 0;
  background-color: grey;
  padding:5px 15px;
  text-decoration: none;
  border-radius:10px;
}
.user-show-header-user{
  font-size: 60px;
  margin:0 2%;
}
.customer-show-address{
  line-height: 0px;
  margin: 0% 2% 5%;
}
.customer-show-address p{
  margin:0;
  font-size:30px;
}
.notes-section{
  /*width:95vw;*/
  margin:0 2%;
  padding:1.5vh 2.5vw;
  font-size:2rem;
  background-color: lightgrey;
  height:100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.note-header{
  margin:0 2.5vw;
}
.customer-show-label{
  font-size:40px;
  margin:0;
}
.customer-show-info{
  line-height: 15px;
  font-size: 30px;
  margin: 0 0 6% 0px;
}
.user-display-info{
  flex:1;
  display:flex;
}
.user-info-right{
  flex:1;
  margin:0 1% 0 2%;
}
.user-info-left{
  flex:1;
  margin:0 2% 0 1%;
}
.customer-display-notes{
  flex:1.5;
  padding: 1% 0;
}
.customer-display-notes li{
  line-height: 35px;
  margin:2.5% 0;
  list-style:none;
}
.customer-display-notes a{
  text-decoration:none;
  background-color:darkred;
  color:white;
  font-size:20px;
  padding: 0 1%;
  border-radius: 5px;
}
.customer-notes-list{
  height:245px;
  overflow:scroll;
  background-color:#f2f2f2;
  border-radius: 10px;
}
.customer-notes-list ul{
  margin:0;
}
.add-note-header{
  margin:0
  ;
}
.new-note-form{
  display:flex;
}
.new-note-input {
  flex:5;
  margin-right:2%;
}
.new-note-input textarea{
  width:100%;
  height: 50px;
  font-family: 'Kanit', sans-serif;
  resize: none;
  font-size: 35px;
}
.note-submit{
  flex:1;
  font-family: 'Kanit', sans-serif;
  font-size:35px;
  text-align: center;
  border: 1px solid black;
  border-radius:5px;
  background-color: grey;
  margin: 37% 0 0 0;
  /*padding: 0 15%;*/
}

/***************************/
/*User Routes*/
/***************************/

.routes-headers{
	text-align:left;
	font-size:1.25em;
	margin:2% 0;
}
.routes-main-header{
	font-size:3em;
	margin: 3% 2% 0;
	padding:0;
	line-height: 35px;
}
.routes-date{
	margin: 0 2%;
    font-size: 2em;
}
.routes-table{
  width:95vw;
  padding:2%;
  border-collapse: collapse;
  margin:2.5vw;
  font-size:1.5rem;
  text-align:center;
}
/*.routes-thead,
.routes-tbody,
.routes-table-headers{
	display:block;
}
.routes-thead th,
.routes-tbody td{
	width:24vw;
}*/
.routes-tbody{
	max-height:300px;
	overflow:scroll;
}
/***************************/
/* Customer History */
/***************************/
.history-header-section{
  margin:0 2%;
}
.history-header{
  font-size: 50px;
  margin:0;
}
.history-visit-sub-header,
.history-repair-sub-header{
  text-align: left;
  font-size: 40px;
}
.history-visit-thead,
.history-visit-tbody,
.history-visit-sub-header,
.history-repair-sub-header,
.history-repair-thead,
.history-repair-tbody{
  display: block;

}
.history-visit-thead th,
.history-visit-tbody td{
  width:17%;
}
.history-repair-tbody td,
.history-repair-thead th{
  width:16%;
}

.history-visit-table,
.history-repair-table{
  width:96vw;
  padding:2%;
  overflow:scroll;
  border-collapse: collapse;
  margin:0 2vw;
  font-size:2rem;
  text-align:center;
}
.history-repair-tbody,
.history-visit-tbody{
  max-height:1000px;
  overflow:scroll;
}
.history-views{
  font-size:30px;
  margin: 5% 0 1% 0;
}
.history-views a{
  font-family: 'Kanit', sans-serif;
    display: inline-block;
    font-size: 25px;
    color: black;
    margin: 0 1% 0 0;
    background-color: lightgrey;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 10px;
  /*background-color: lightgrey;
  margin: 0 -2% 0 0;
  padding: 0 3%;*/
}
#history-repair-section{
  display:none;
}
.history-back-link{
  text-decoration:none;
  color:black;
  background-color:grey !important;
  float:right;
  margin:0 !important;
}