// Place all the styles related to the Repairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************************/
/*Repiar Index*/
/*************************/
.repair-complete-form{
  color:red;
  font-size:1em;
  text-align: center;
  width:100%;
}
.repair-table{
  width:95vw;
  padding:2%;
  border-collapse: collapse;
  margin:2.5vw;
  text-align:center;
  font-size:2rem;
}

.repair-table-headers{
	text-align:left;
	margin: 2% 0;
	font-size: 1.25em;
}
.repair-main-header{
	font-size:3rem;
	margin:0 2%;
	padding: 0 2%;
}
.repair-thead,
.repair-tbody,
.repair-table-headers{
	display:block;
}
.repair-thead th,
.repair-tbody td{
	width:24vw;
}
.repair-tbody{
	max-height:900px;
	overflow:scroll;
}
#finished-repairs{
	display:none;
}
.active-repair-tab{
	background-color:grey;
}
/***************************/
/*Repair show*/
/***************************/
.repair-img{
	width:200px;
}
.repair-show-header {
	margin:0 2% 2%;
	font-size:50px;
	flex: 2;
}
.repair-show-info{
	margin:0 2%;
}
.repair-show-info h3{
	margin:0;
	line-height: 35px;
	font-size:30px;
}
.repair-show-info p{
	margin: 0 0 15px 0;
    line-height: 30px;
    font-size: 30px;
}
.repair-show-info article{
	margin:0 0 2% 0;
}
.repair-show-grid{
	display:flex;
  	padding: 0 5%;
}
.repair-info-col-left{
	flex:1;
}
.repair-info-col-right{
	flex:2;
}
.repair-description{
	grid-column:2;
	grid-row: 1 / span 3;
}
.repair-sub-header{
	margin:0 0 1%;
	font-size:40px;
}
.repair-add-photo-section{
	margin:0 2% 5%;
}
.repair-img-display{
	padding: 0 5%;
}
.repair-img-form form{
	padding: 0 5%;
	display:flex;
}
.repair-img-input{
	flex:3;
}
.repair-img-input label{
	width:15%;
	font-size:30px;
}
.repair-img-input input{
  	font-size: 25px;
    background-color: grey;
    width: 95%;
    font-family: 'Kanit', sans-serif;
    margin: 7px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.repair-img-submit{
	flex:1;
	margin: 15px 0;
}
.repair-img-submit input{
	background-color: grey;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    margin: 36px 0;
}
.repair-show-header-section{
	display:flex;
}
.repair-show-header-section form {
	flex:1;
	margin: 20px 50px 0 0;
}
.repair-show-header-section form input{
	background-color: red;
    font-size: 30px;
    padding: 1px 8px;
    margin: 1% 0;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
}
.repair-show-header-section a{
	background-color: grey;
    font-size: 25px;
    padding: 3px 10px;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    margin: 24px 20px;
}
/***************************/
/*Repair New*/
/***************************/
.new-repair-header{
	font-size:60px;
	margin:0 2%;
}
.new-repair-form{
	margin:0 2%;
}
.new_repair{
	margin:0 5%;
}
.new_repair label{
	font-size:40px;
}
.repair-textarea textarea{
	width: 99%;
	font-size:30px;
	font-family: 'Kanit', sans-serif;
	resize: none;
	height:200px;
	border-radius: 5px;
}
.repair-new-bottom{
	display:flex;
}
.new-repair-img{
	flex:1;
}
.new-repair-img input{
	font-size: 25px;
    background-color: grey;
    width: 95%;
    font-family: 'Kanit', sans-serif;
    margin: 7px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.new-repair-submit{
	flex:1;
}
.new-repair-submit input{
	background-color: grey;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    margin: 30px 10px;
}
.repair-title input{
 width:97%;
 font-family: 'Kanit', sans-serif;
 border-radius: 5px;
 font-size: 25px;
 padding: 5px 10px;
}

