// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-session-form form{
	margin:0;
}
.new-session-header{
	font-size:3.5rem;
	margin:0 2%;
}
.new-session-form{
    margin: 5vh 10vw;
    max-width: 450px
}
.session-password{
    margin: 1rem 0;
}
.session-password input,
.session-email input{
	width:100%;
	font-size: 2rem;
    padding: 0 2%;
    width: 93%;
    font-family: 'Kanit', sans-serif;
    border-radius:5px
}
.session-email-reset{
width:93%;
}
.new-session-submit{
    display:flex;
    margin-right: 2%;
}
.new-session-submit a{
    border: 1px solid #666666;
    background-color: grey;
    font-size: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height:2.9rem;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin:2.1rem 2% 0 1%;
    padding:0 2%;
    font-family: 'Kanit', sans-serif;
}
.new-session-submit input{
    flex:2;
}
.new-session-submit input{
    border-color: #4d4d4d;
	background-color: grey;
    font-size: 2rem;
    margin: 2.1rem 0 0;
    height:3.1rem;
    padding:0;
    /*height: 3rem;*/
    /*margin:0;*/
    flex:2;
    border-radius: 3px;
    border: 1px solid #666666;
    font-family: 'Kanit', sans-serif;
}
.forgot-password{
    color:black;
    float: right;
    margin: 0px 3%;
    font-size: 1.25rem;
}
.sesion-type{
    display:flex;
}
.sesion-type-title{
    flex:2;
    font-size:1.5rem;
}
.sesion-type-options{
    display:flex;
    flex:1;
    font-size:1.5rem;
    margin-right:3%;
}
.sesion-type-options input{
    height: 1.25rem;
    margin-top: 0.75rem !important;
    width: 1.25rem !important;
}
.sesion-type-options label{
    margin:0 0 0 0.3rem
}
.sign-in-header{
    font-size:3rem;
    margin:0;
}

