// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-visit-chemistry{
	margin:0 2%;
	padding: 3% 2%;
}
.chem-flex{
	display:flex;
}
.new-visit-chemistry label{
	width:100px;
	font-size:35px;
	line-height: 50px;
	/*display:inline-block;*/
}
.new-visit-chemistry input{
	font-size: 35px;
  width: 175px;
	display:inline-block;
	margin:5px 10px;
	text-align:center;
	border-radius: 5px;
}
.new-visit-chemistry legend,
.new-visit-duties legend{
	font-size:40px;
}
.chem-column-left{
	text-align:right;
	padding: 0 3%;
	flex:1;
}
.chem-column-right{
	text-align: right;
	padding: 0 3%;
	flex:1;
}
.new-visit-duties{
	margin:0 2%;
	padding: 3% 2%;
}
.duties-flex{
	display:flex;
}
.duties-left input[type="checkbox"],
.duties-right input[type="checkbox"]{
	display:inline-block;
	height: 30px;
    width: 30px;
	float: right;
	margin: 20px 0 0 0;
}
.duties-left,
.duties-right{
	flex:1;
	margin: 1% 5%;
}
.new-visit-duties label{
	font-size:35px;
}
.new-visit-header{
	font-size: 50px;
    margin: 5% 2%;
}
.submit-visit{
	font-size: 40px;
	margin: 5% 35%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    background-color: grey;
}
.visit-options{
	display:flex;
	width: 80vw;
  margin: 2% 10%;
}
.visit-options input{
	/*margin:initial !important;*/
	background-color: grey;
  font-size: 35px;
  padding: 5px 40px;
  margin: 2% 1% 2% 0 !important;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
}
.visit-options a{
	flex:1;
	background-color: grey;
  font-size: 35px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: darkred;
  margin: 2% 2% 2% 1%;
  padding: 1% 2%;
  font-family: 'Kanit', sans-serif;
}
/******************/
/*Visit Show*/
/******************/
.visit-show-main-header{
	margin: 0 0 5% 0;
}
.visit-show-header{
	margin:0 2%;
	font-size: 50px;
}
.visit-show-date{
	margin:0 2%;
	font-size: 40px;
	line-height: 20px;
}
.visit-show-flex{
	display:flex;
	margin: auto;
}
.visit-show-col-left,
.visit-show-col-right{
	flex:1;
	justify-content: space-around;
	padding: 0 5%;
	font-size: 30px;
}
.visit-show-col-left p,
.visit-show-col-right p{
	margin:3% 0;
	font-size: 35px;
}

.visit-show-details-section{
	margin:0 2%;
  background-color: lightgrey;
  padding: 0 2%;
  border-radius: 10px;
}
.show-subheader{
	font-size:40px;
	margin:0;
}
.chemistry-article{
	margin:1% 0;
}
.duties-preformed-article-section{
	margin:5% 0;
}
.chem-dis,
.duty-dis{
	float:right;
}
.green{
	color:darkgreen;
}
.visit-show-links{
  margin:0 2%;
}
.visit-show-links a{
  display: inline-block;
  font-size: 25px;
  color: black;
  margin: 0 10px 0 0;
  background-color: grey;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
}

