// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-visit-chemistry{
	margin:0 2%;
	padding: 3% 2%;
}
.chem-flex{
	display:flex;
}
.new-visit-chemistry label{
	width:100px;
	font-size:40px;
}
.new-visit-chemistry input{
	font-size: 40px;
    width: 180px;
	display:inline-block;
	margin:auto;
	border-radius: 5px;
}
.new-visit-chemistry legend,
.new-visit-duties legend{
	font-size:50px;
}
.chem-column-left{
	text-align:right;
	padding: 0 3%;
	flex:1;
}
.chem-column-right{
	text-align: right;
	padding: 0 3%;
	flex:1;
}
.new-visit-duties{
	margin:0 2%;
	padding: 3% 2%;
}
.duties-flex{
	display:flex;
}
.duties-left input[type="checkbox"],
.duties-right input[type="checkbox"]{
	display:inline-block;
	height: 30px;
    width: 30px;
	float: right;
	margin: 20px 0 0 0;
}
.duties-left,
.duties-right{
	flex:1;
	margin: 1% 5%;
}
.new-visit-duties label{
	font-size:40px;
}
.new-visit-header{
	font-size: 60px;
    margin: 3% 2%;
}
.submit-visit{
	font-size: 40px;
	margin: 5% 35%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    background-color: grey;
}
/******************/
/*Visit Show*/
/******************/
.visit-show-main-header{
	margin: 0 0 10% 0;
}
.visit-show-header{
	margin:0 2%;
	font-size: 50px;
}
.visit-show-date{
	margin:0 2%;
	font-size: 40px;
	line-height: 20px;
}
.visit-show-flex{
	display:flex;
	margin: auto;
}
.visit-show-col-left,
.visit-show-col-right{
	flex:1;
	justify-content: space-around;
	padding: 0 5%;
	font-size: 30px;
}
.visit-show-col-left p,
.visit-show-col-right p{
	margin:3% 0;
	font-size: 35px;
}

.visit-show-details-section{
	margin:0 2%;
}
.show-subheader{
	font-size:40px;
	margin:0;
}
.chemistry-article{
	margin:5% 0;
}
.duties-preformed-article-section{
	margin:5% 0;
}
.chem-dis,
.duty-dis{
	float:right;
}
.green{
	color:darkgreen;
}

